.constructor {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 16px;
	width: 600px;
	height: min-content;
	max-height: calc(100% - 156px);
	overflow: hidden;
	color: var(--text-primary-color);
}

.footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 52px;
	column-gap: 40px;
}

.empty {
	width: 536px;
	height: 100%;
	opacity: 0.4;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-2px);
	}
}

.bounce {
	animation: bounce 0.4s infinite ease-in-out;
}
