.app {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 88px);
	overflow: hidden;
	color: var(--text-primary-color);
	background-color: var(--background-alt);
}

.title {
	align-self: center;
	width: 100%;
	max-width: 1260px;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 0;
	overflow: hidden;
	column-gap: 24px;
}
