.ingredient {
	position: relative;
	max-width: 272px;
	text-align: center;
	cursor: pointer;
}

.link {
	color: var(--text-primary-color);
	text-decoration: none;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

.name {
	min-height: 48px;
}
