.ingredient {
	position: relative;
	max-width: 272px;
	text-align: center;
	cursor: pointer;
}

.ingredient_button {
	all: unset;
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

.name {
	min-height: 48px;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-8px);
	}
}

.bouncy {
	animation: bounce 0.4s infinite ease-in-out;
}
