.ingredients {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	color: var(--text-primary-color);
	font-family: 'Jet Brains Mono', serif;
}

.ingredients_list {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	overflow: hidden auto;
}
